version: '3.8'

services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - prod_network

  redis:
    image: redis:alpine
    restart: always
    networks:
      - prod_network

  backend:
    image: ghcr.io/babylon14/order-service-backend:latest
    restart: always
    env_file: .env
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    networks:
      - prod_network

  celery:
    image: ghcr.io/babylon14/order-service-backend:latest
    restart: always
    command: celery -A backend worker -l info
    env_file: .env
    depends_on:
      - redis
      - db
    networks:
      - prod_network

  frontend:
    image: ghcr.io/babylon14/order-service-frontend:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - backend
    networks:
      - prod_network

networks:
  prod_network:
    driver: bridge

volumes:
  pg_data:
  static_volume:
  media_volume: