name: Django CI
env:  
    SECRET_KEY: "any_dummy_secret_key_for_tests"
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13' 
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        # Устанавливаем ОСНОВНЫЕ зависимости из [project.dependencies]
        uv sync --locked

    - name: Run tests with coverage
      run: |
        coverage run manage.py test 
        coverage xml 

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        fail_ci_if_error: false # Не останавливать CI при ошибке отправки
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # Переменная окружения для токена
