name: Django CI
env:  
    SECRET_KEY: "any_dummy_secret_key_for_tests"
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13' 
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv pip install --system coverage codecov
        # ИЛИ если вы используете pip и requirements.txt:
        # pip install -r requirements.txt
        # pip install coverage # <-- Добавьте эту строку, чтобы явно установить coverage
        # pip install codecov # <-- И эту, если используете pip
        
    - name: Run tests and collect coverage
      run: |
        coverage run manage.py test
        coverage xml 

    - name: Upload to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false # (опционально) не останавливать CI при ошибке отправки
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # Переменная окружения для токена
