name: Django CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13' 
        
    - name: Install dependencies and run tests
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv sync --locked --group dev
        uv run coverage run --source='backend' manage.py test backend.tests
        uv run coverage xml
      env:
        SECRET_KEY: any_dummy_secret_key_for_tests
        

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.xml
        fail_ci_if_error: false # Не останавливать CI при ошибке отправки
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} # Переменная окружения для токена
